
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Barlow:wght@400;500&family=Maven+Pro&family=Monda:wght@400;600;700&family=Poppins:wght@300&family=Righteous&family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  padding-bottom: 20px;
}
.input{
  margin: auto;
  max-width: 900px;
}

.logo{
  text-align: center;
  font-family: "Righteous", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  padding: 20px 0;
}
.title {
  text-align: center;
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  padding: 20px 0;
}

.pgm-tab {
  max-width: 1300px;
  padding: 20px 10px;
  padding-bottom: 30px;
  margin: auto;

}

.pgm-grid {
  overflow-x: auto;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 5px;
  margin-bottom: 20px;
}

.copy-button {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 15px 40px 15px;
  
}
.head-about {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  padding-bottom: 20px;
}
.features {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
}

.inpeval {
  padding: 10px 0;
  font-family: "Monda", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.txt {
  text-align: center;
}

::-webkit-scrollbar {
  width: 3px; 
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
