*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  /* margin-bottom: 50px; */
}
.input{
  margin: auto;
  /* background-color: aqua; */
  max-width: 900px;
}
